body {
    color: #c2c2c2;
}
.poetry {
    width: 500px;
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.poetry p {
    margin: 20px;
    line-height: 28px;
}
.content-image {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.me-again {
    align-items: center;
    margin: auto;
    width: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}


/**
** MEDIA QUERIES
**/
@media screen and (max-width: 600px) {
    .poetry {
        margin: auto;
        width: 90%;
    }
}